{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">                                                                                       
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PEJIP_APP</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Noto+Sans+JP&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="{% static 'estilos.css'%}">
	<script src="https://kit.fontawesome.com/b9cae8df03.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
		<nav class="navbar"></center>
			<div class="contenedor">
				<li><a href="#">NOSOTROS</a>
					<ul>
						<li><a href="#">Info Creadores</a></li>
						<li><a href="#">Acerca de la App</a></li>
						<li><a href="#">Info Convenios</a></li>
						<li><a href="#">Contactenos</a>
                            <ul>
                                <li><a href="#">Submenu 1</a></li>
                                <li><a href="#">Submenu 2</a></li>
                                <li><a href="#">Submenu 3</a></li>
                                <li><a href="#">Submenu 4</a></li>	
                            </ul>
                        </li>	
					</ul>

				</li>

				<li><a href="#">SERVICIOS</a>
					<ul>
						<li><a href="#">Anticonceptivos</a>
                            <ul>
                                <li><a href="#">Hormonas & tu ciclo</a></li>
                                <li><a href="#">Hormonales</a></li>
                                <li><a href="#">No Hormonales</a></li>	
                            </ul>
                        </li>
						<li><a href="#">Calendario Mestrual</a></li>
						<li><a href="#">Calendario Prenatal</a></li>
						<li><a href="#">Cartelera Informativa</a></li>
                        <li><a href="#">psicologia</a></li>
						<li><a href="#">Mapas</a></li>	
					</ul>
				</li>

				<li><a href="#">REGISTRO PERSONA</a></li>
				<li><a href="#">REGISTRO EMPRESA</a></li>
				<li><a href="login.html">REGISTRATE</a></li>
			</div>
		</nav>
		
    </header>
    <div class="contenedor-imagen">
        <a href="#">
            <center><img src="{% static 'img/primero.jpg'%}" alt=""></center>	
        </a>
    </div>
    <center><right><button class="button"><SPan>CONOCE MAS DE NUESTROS SERVICIOS</SPan>></button ></center><br>
    <div class="galeria">
        <div class="foto">
            <img src="{% static 'img/anticonceptivos (2).jpeg'%}">
        </div><hr>
        <div class="pie">
            <p>METODOS ANTICONCEPTIVOS</p>
            <p>CONOCE UN POCO MAS</p>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <img src="{% static 'img/calendariom.jpg'%}">
        </div><hr>
        <div class="pie">
            <p>CALENDARIO MENSTRUAL</p>
            <p>MANTEN AL DIA</p>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <img src="{% static 'img/embarazo.jpg'%}">
        </div>
        <div class="pie">
            <p>CALENDARIO PRENATAL</p>
            <p>CONOCE MAS ALLA</p>
        </div>
    </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><hr>
    <div class="galeria">
        <div class="foto">
            <img src="{% static 'img/Captura.PNG'%}">
        </div><hr>
        <div class="pie">
            <p>CARTELERA INFORMATIVA</p>
            <p>PARTICIPA EN ESTOS EVENTOS</p>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <img src="{% static 'img/ibo.jpg'%}">
        </div><hr>
        <div class="pie">
            <p>PSICOLOGIA</p>
            <p>CONOCE MAS DE TI</p>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <img src="{% static 'img/ubi.PNG'%}">
        </div><hr>
        <div class="pie">
            <p>MAPA ENTIDADES DE SALUD</p>
            <p>UBICA TU CENTRO DE SALUD MAS CERCANO</p>
        </div>
    </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></b></b><hr>    
        
    <center><right><button class="button"><SPan>CONVENIOS</SPan>></button ></center><br><br>
    <main id="blog">
		<div class="contenedor">
			<aside>
				<div class="galeria">
					<div class="foto">
						<img src="{% static 'img/HOSPITAL.jpg'%}">
					</div>
					<div class="pie">
						<p>convenio</p>
						<p>ips3</p>
					</div>
				</div>		
			</aside>
			<aside>
				<div class="galeria">
					<div class="foto">
						<img src="{% static 'img/estancia.jpg'%}">
					</div>
					<div class="pie">
						<p>convenio</p>
						<p>ips3</p>
					</div>
				</div>	
			</aside>
			<aside>
				<div class="galeria">
					<div class="foto">
						<img src="{% static 'img/SUSANA.jpg'%}">
					</div>
					<div class="pie">
						<p>convenio</p>
						<p>ips3</p>
					</div>
				</div>
			</aside>
		</div>
	</main><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><hr>
    <div class="container-form">
        <div class="info-form">
            <h2>contactanos</h2>
            <p> Somos Tu app Amiga contactanos para asesorarte de la mejor manera
                encontraras mucha informacion, contaras con el acompañamiento de 
                expertos en la salud mental y psicologica.
                <br>
                Cuentanos Tu experiencia Es de mucha importancia para nosotros
            
            </p>
            <a href="#"><i class="fa fa-phone"></i>3135493521</a>
            <a href="#"><i class="fa fa-envelope"></i>aanacona40@misena.edu.co</a>
            <a href="#"><i class="fa fa-map-marked"></i>ciudad, pais</a>

        </div>
        <form action="#" autocomplete="off">
            <input type="email" name= "nombre" placeholder="ingresa tu nombre" class="campo">
            <input type="text" name="email" placeholder="ingresa tu correo" class="campo">
            <textarea name="mensaje" placeholder="ingresa tu mensaje"></textarea>
            <input type="submit" name="enviar" value="enviar mensaje" class="btn-enviar">
        </form>

    </div>   
</body>
</html>