{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">                                                                                       
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PEJIP_APP</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Noto+Sans+JP&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="{% static 'estilos.css'%}">
</head>
<body>
	<header>
		<nav class="navbar">
			<div class="contenedor">
				<a href="#">NOSOTROS</a>
				<a href="#">SERVICIOS</a>
				<a href="#">REGISTRO PERSONA</a>
				<a href="#">REGISTRO EMPRESA</a>
				<a href="#">INICIAR SESIÓN</a>
			</div>
		</nav>
		<div class="contenedor-imagen">
			<a href="#">
				
				<img src="{% static 'img/primero.jpg'%}" alt="">
				<center><right><button class="button"><SPan>CONOCE MAS DE NUESTROS SERVICIOS</SPan>></button ></center>

			</a>
		</div>
	</header></br><br>
	<hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr>
	<main id="blog">
		<div class="contenedor">
			<aside>
				<center><right><button class="button1"><SPan>metodos anticonceptivos</SPan>></button ></center><hr><hr>
				<br>
				<nav class="indice">
					<center><img src="{% static 'img/metodos.jpg'%}" alt=""></center>

				</nav><br><br><br><br><br>
				<center><right><button class="button2"><SPan>calendario mentrual</SPan>></button ></center><hr><hr>
				<br>

				<nav class="indice">
					<center><img src="{% static 'img/calendariom.jpg'%}" alt=""></center>

				</nav>
				
			</aside>
			<aside>
				<center><right><button class="button1"><SPan>cartelera informativa</SPan>></button ></center><hr><hr>
				<br>
				<nav class="indice">
					<center><img src="{% static 'img/cartelera.jpg'%}" alt=""></center>
					

				</nav><br><br><br><br><br>
				<center><right><button class="button2"><SPan>psicologia</SPan>></button ></center><hr><hr>
				<br>

				<nav class="indice">
					<center><img src="{% static 'img/psicologia.jpg' %}" alt=""></center>

				</nav>
				
			</aside>
			<aside>
				<center><right><button class="button1"><SPan>calendario prenatal</SPan>></button ></center><hr><hr>
				<br>
				<nav class="indice">
					<center><img src="{% static 'img/embarazo.jpg'%}" alt=""></center>

				</nav><br><br><br><br><br>
				<center><right><button class="button2"><SPan>eventos</SPan>></button ></center><hr><hr>
				<br>

				<nav class="indice">
					<center><img src="{% static 'img/eventos.jpg'%}" alt=""></center>

				</nav>
				
			</aside>
			
		</div><br><br><br><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr>
		<div class="contenido">
			<div class="post"><br>
				<center><right><button class="button"><SPan>CONVENIOS</SPan>></button ></center><br>
					<div class="fila">
						<div class="columna">
							<img src="{% static 'img/calendariom.jpg'%}">
						</div>
						<div class="columna">
							<img src="{% static 'img/cartelera.jpg'%}">
						</div>
					</div>
					<div class="fila">
						<div class="columna">
							<img src="{% static 'img/calendariom.jpg'%}">
						</div>
						<div class="columna">
							<img src="{% static 'img/cartelera.jpg'%}">
						</div>
					</div>
			
				<IMG SRc="{% static 'img/MESSI.jpg'%}">
			</div>
			<div class="post">
				<h1 class="titulo">VIDEOJUEGOS</h1><BR/>
				<table>
					<tr>
						<th>FIFA</th>
						<th>Call Off Duty</th>
						<th>Free Fire</th>
						<th> Parchis</th>
						<th></th>
						<th>Grand Theft Auto/San Andreas</th>
					</tr>

				</table><BR/>
				<p>los videojuegos me gustan mucho ya que en ellos encuentro entretenimiento, retos especialmente juegos battle royale, principalmente porque juego con personas en linea reales. mi juego favorito free fire por su jugabilidad </p>
				<img src="https://imagenes.20minutos.es/files/article_default_content/uploads/imagenes/2021/08/27/free-fire.jpeg">
			</div>
			<div class="post">
				<h1 class="titulo">MONTAR BICICLETA</h1>
				<p>En el ciclismo se ejercitan sobre todo las piernas, pero con los paisajes y la tranquilidad que te proporciona es un buen deporte para inspirarse, pero eso no es todo, es un deporte que puedes ir acompañado de tus amigos y que podeis grabar y hacer fotos para luego hacer un powerpoint e ir viendo el progreso que has hecho como a mi me gusta hacer. ayuda mucho a la salud mental</p>
				<img src="https://img.freepik.com/foto-gratis/hombre-pensativo-bajando-colina_329181-8688.jpg?size=626&ext=jpg&ga=GA1.1.815143030.1647325818">
			</div>		
		</div>
	</main>
	
	<footer>
		<nav class="navbar">
			<div class="contenedor">
			<a href="#">HOJA DE VIDA</a>
			<a href="#">HOBBIES</a>
			<a href="#">PROYECTO DE VIDA</a>
			<a href="#">INICIO</a>
		</div>
	</nav>
		<div class="contenedor-imagen">
			<img src="https://img.freepik.com/vector-gratis/concepto-oficina-casa-hombre-que-trabaja-casa-estudiante-o-autonomo-linda-ilustracion-vectorial_550568-413.jpg?w=740" alt="">
		</div>
	</footer>
</body>
</html>