{# Cargamos la librería #}
  {% load bootstrap4 %}
 
  {# CSS Bootstrap #}
  {% bootstrap_css %} 
 
  {# Widget Tweaks #}
  {% load widget_tweaks %}
 
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <!-- {{ form.as_p }} -->
    <div class="form-group">
      <label for="idtipopersona" class="txt_negrita">Codigo de Tipopersona</label>
      {{ form.idtipopersona|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
    </div>
    <div class="form-group">
      <label for="denominacion" class="txt_negrita">Denominacion</label>
      {{ form.denominacion|add_class:"form-control" }}
    </div>
 
    <button type="submit" class="btn btn-primary">Aceptar</button>
    <a href="../" type="submit" class="btn btn-primary">Volver</a>
   
  </form>