*{
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}


body {
    font-family: 'Roboto', sans-serif ;
    margin: 0;
}


h1{ font-size: 3.5em;}
h2{ font-size: 2.7;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(139, 0, 0);
}
button:hover{
    background-color: 	rgb(255, 0, 0);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento {
    color: rgb(139, 0, 0);
}

header{
    background-color: 	rgba(196, 28, 28, 0.3);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: black;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}


header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}


header a:hover{
    color: rgb(139, 0, 0);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(243, 237, 237, 0.5),
        rgba(196, 28, 28, 0.5)
    )
    ,url(imgMenstrual/Mifondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


#hero h1{
    background-color: rgba(110, 15, 15, 0);
}

.icono {
    height: 10%;
    width: 10%;
    position: relative;
    top: -01px; left:-150px;
}

.boton a{
    color: white;
    font-size: 1em;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    background-color: rgb(194, 84, 84);
}

#que-es .container{
    text-align: center;
    padding: 200px 12px;
    background-color: rgba(196, 28, 28, 0.04);
}

#como-funciona .container{
    text-align: center;
    padding: 200px 12px;
    background-color:  rgba(196, 28, 28, 0.04);
}

#que-es h2{
    font-size: 3.2em;
}

#como-funciona h2{
    font-size: 3.2em;
}

#tu-calendario h2{
    font-size: 4em;
}


#tu-calendario button{
    font-size: 1,75em;
}

#tu-calendario a{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(139, 0, 0);
}


footer{
    background-color: rgb(230,230,230);
}


footer p{
    margin: 0;
    padding: 16px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }



    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }


    #que-es .container{
        display: flex;
        justify-content: center;
    }

    #como-funciona .container{
        display: flex;
        justify-content: center;
    }
    

    #que-es .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #como-funciona .texto{
        width: 70%;
        max-width: 800px;
        text-align: initial;
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #que-es h2{
        margin: 0px;
    }

    #como-funciona h2{
        margin: 0px;
    }

    #que-es .img-container{
        background-image: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
        ), url(Img_CP/CalendarioP.png);
        background-size: cover;
        background-position: center center;
        height: 300px;
        width: 500px;
    }

    #como-funciona .img-container{
        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)
        ), url(Img_CP/InfoCalendario.png);
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
    }

    #Calendar{
        width: auto;
        margin: auto;
        align-items: center;
        background-color: rgba(196, 28, 28, 0.04);
        text-align: center;
    }
    .boton a{
        width: auto;
        height: auto;
        text-align: center;
        
        
    }
    #Calendar h2{ 
        justify-content: center;
    }    
        
    #tu-calendario h2{
        font-size: 5em;
    }


    #tu-calendario button{
        font-size: 2em;
    }


    #footer .container{
        flex: content;
    }
}


@media (min-width:1200px) {
    #beneficios{
        background-position-x: calc(100vw - 800px) ;
    }
}
