{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicialPEJIP</title>
    <link rel="stylesheet" href="{% static 'anticonceptivos2.css'%}">
    <link href="https: //fonts.googleapis.com/css2? family= Open+Sans:wght@300 & display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <nav>
            <a href="#">INICIO</a>
            <a href="#">INFORMATE CON ENTIDADES </a>
        </nav>
        <section class="textos-header">
            <h1>METODOS ANTICONCEPTIVOS </h1>
            <h2>dentro de nuestra app</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 341.13,-2.44 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>

    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">PEJIP</h2>
            <div class="contenedor-sobre-nosotros">
                <div class="contenido-textos">
                    <h3><span>1</span>Que son Metodos Anticonceptivos</h3>
                    <p>El método anticonceptivo es cualquier método usado para prevenir el embarazo. Otra forma de decir método anticonceptivo es "anticoncepción".</p><br>
                    <p>Si tiene relaciones sexuales sin métodos anticonceptivos, existe la posibilidad de que pudiera quedar embarazada. Esto es así incluso si aún no ha empezado a tener períodos menstruales o si se está acercando a la menopausia.</p>
                    <p>La única forma segura de prevenir el embarazo es no tener relaciones sexuales. Pero encontrar un buen método anticonceptivo que pueda utilizar cada vez puede ayudarla a evitar un embarazo no planeado.</p>
                </div>
                <div class="contenido-textos">
                    <h3><span>2</span>Anticonceptivos Hormonales</h3>
                    <p>Los anticonceptivos hormonales contienen progesterona sola o una combinación de progesterona y estrógeno. Evitan el embarazo al impedir que los ovarios liberen óvulos, además adelgazan el revestimiento del útero y espesan el moco del cuello uterino de manera que bloquean el paso de los espermatozoides hacia el óvulo.</p><hr>
                    <h3><span>4</span>Hormonas & tu Ciclo</h3>
                    <p>¿Te interesa tener menos períodos? Es posible con los anticonceptivos hormonales. Averigua cómo y obtén respuestas a las preguntas más comunes sobre el uso de los anticonceptivos para retrasar o prevenir los períodos.</p><hr>
                    <h3><span>3</span>Anticonceptivos no Hormonales</h3>
                    <p>Los anticonceptivos no hormonales son aquellos que evitan la fertilización del óvulo pero sin intervenir en el ciclo menstrual de la mujer.</p>
                </div>
            </div>
        </section>
        <section class="portafilo">
            <div class="contenedor">
                <h2 class="titulo"> SELECCIONA QUE CLASE DE METODOS ANTICONCEPTIVOS ES DE TU INTERES</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="{% static 'imganticonceptivos2/Anti.jpg' %}" alt="">
                        <div class="hover-galeria">
                            <img src="img/favicon/seleccion.png" alt="">
                            <p>Metodos Anticonceptivos</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="{% static 'imganticonceptivos2/hormonales.jpg' %}" alt="">
                        <div class="hover-galeria">
                            <img src="img/favicon/seleccion.png" alt="">
                            <p>Anticonceptivos Hormonales</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="{% static 'imganticonceptivos2/CALL.jpg' %}" alt="">
                        <div class="hover-galeria">
                            <img src="{% static 'imganticonceptivos2/favicon/seleccion.png' %}" alt="">
                            <p>Hormonas & tu Ciclo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="{% static 'imganticonceptivos2/no hormonales.jpg' %}" alt="">
                        <div class="hover-galeria">
                            <img src="{% static 'imganticonceptivos2/favicon/seleccion.png' %}" alt="">
                            <p>Anticonceptivos no Hormonales</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <section class="clientes contenedor">
            <h2 class="titulo">NUESTROS CONVENIOS</h2>
            <div class="cards">
                <div class="card">
                    <img src="{% static 'imganticonceptivos2/SUSANA.jpg' %}" alt="">
                    <div class="contenido-texto-card">
                        <h4>Hospital Susana</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic, earum.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'imganticonceptivos2/estancia.jpg' %}" alt="">
                    <div class="contenido-texto-card">
                        <h4>Clinica Estancia</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic, earum.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'imganticonceptivos2/san-jose.jpg' %}" alt="">
                    <div class="contenido-texto-card">
                        <h4>Hospital San Jose</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic, earum.</p>
                    </div>
                </div>
            </div>         
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>phone</h4>
                <p>3135493521</p>
            </div>
            <div class="content-foo">
                <h4>email</h4>
                <p>aanacona40@misena.edu.co</p>
            </div>
            <div class="content-foo">
                <h4>location</h4>
                <p>popayan cauca</p>
            </div>
        </div>
        <h2 class="titulo-final">PEJIP|Aliver Anacona</h2>
    </footer>
    
</body>
</html>