{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Separa tu cita</title>
    <link rel="shortcut icon" href="{% static 'cita.css'%}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'cita.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
</head>

<body>
    <header>
        <nav>
            <a href="#">Inicio</a>
            <a href="#">Acerca de</a>
            <a href="#">Portafolio</a>
            <a href="#">Servicios</a>
            <a href="#">Contacto</a>
        </nav>
        <section class="textos-header">
            <h1>SEPARA TU CITA</h1>
            
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">PUBLICAS</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="{% static 'imgcita/img1.jpg' %}" alt="">
                        <div class="hover-galeria">
                            <img src="{% static 'imgcita/icono1.png' %}" alt="">
                            <form action="http://emssanar.org.co/">
        
                                <button>CLICK</button>
                            </form>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="{% static 'imgcita/img2.jpg' %}" alt="">
                        <div class="hover-galeria">
                            <img src="{% static 'imgcita/icono1.png' %}" alt="">
                            <form action="https://www.epssanitas.com/usuarios/web/nuevo-portal-eps">
        
                                <button>CLICK</button>
                            </form>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="{% static 'imgcita/img3.jpg' %}" alt="">
                        <div class="hover-galeria">
                            <img src="{% static 'imgcita/icono1.png' %}" alt="">
                            <form action="https://www.nuevaeps.com.co/">
        
                                <button>CLICK</button>
                            </form>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="{% static 'imgcita/img1.jpg' %}" alt="">
                        <div class="hover-galeria">
                            <img src="{% static 'imgcita/icono1.png' %}" alt="">
                            <form action="https://www.emssanar.org.co/">
        
                                <button>CLICK</button>
                            </form>
                        </div>
                    </div>
    </header>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">PRIVADAS</h2>
                    <div class="galeria-port">
                            <div class="imagen-port">
                                <img src="{% static 'imgcita/img9.jpeg' %}" alt="">
                                <div class="hover-galeria">
                                    <img src="{% static 'imgcita/icono1.png' %}" alt="">
                                    <form action="https://centroclinicoverutti.com/">
        
                                        <button>CLICK</button>
                                    </form>
                                </div>
                            </div>
                            <div class="imagen-port">
                                <img src="{% static 'imgcita/img10.jpeg' %}" alt="">
                                <div class="hover-galeria">
                                    <img src="{% static 'imgcita/icono1.png' %}" alt="">
                                    <form action="https://profiles.jobomas.com/jessica.leon.burbano">
        
                                        <button>CLICK</button>
                                    </form>
                                </div>
                            </div>
                    <div class="imagen-port">
                        <img src="{% static 'imgcita/img4.jpg' %}" alt="">
                        <div class="hover-galeria">
                            <img src="{% static 'imgcita/icono1.png' %}" alt="">
                            <form action="https://psiquiatria.com/directorio/juan-carlos-villa-diaz-120937/psicologo/popayan/colombia">
        
                                <button>CLICK</button>
                            </form>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="{% static 'imgcita/img5.jpg' %}" alt="">
                        <div class="hover-galeria">
                            <img src="{% static 'imgcita/icono1.png' %}" alt="">
                            <form action="https://es-la.facebook.com/psicoananda/">
        
                                <button>CLICK</button>
                            </form>
                </div>
            </div>
        </section>
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Phone</h4>
                <p>8296312</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>8296312</p>
            </div>
            <div class="content-foo">
                <h4>Location</h4>
                <p>8296312</p>
            </div>
        </div>
        <h2 class="titulo-final">pejip</h2>
    </footer>
</body>
</html>