{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Entidades de salud aliadas</title>
    <link rel="shortcut icon" href="img/alexcgdesign.png" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'entidades.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
</head>

<body>
    <header>
        <nav>
            <a href="#">Inicio</a>
            <a href="#">Acerca de</a>
            <a href="#">Portafolio</a>
            <a href="#">Servicios</a>
            <a href="#">Contacto</a>
        </nav>
        <section class="textos-header">
            <h1>ENTIDADES DE SALUD ALIADAS</h1>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
        </section>
        <section class="clientes contenedor">
            <h2 class="titulo">ENTIDADES DE SALUD PUBLICA</h2>
            <div class="cards">
                <div class="card">
                    <img src="{% static 'imgentidades/face1.jpg' %}" alt="">
                    <div class="contenido-texto-card">
                        <h4>EMMSANAR </h4>
                        <p>Somos una cooperativa que integrada con los diferentes actores del sector, aporta en la gestión del riesgo en salud a través de la comercialización y prestación de servicios farmacéuticos de calidad, con talento humano competente, amable y con actitud de apertura al cambio y la innovación.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'imgentidades/face2.jpg' %}" alt="">
                    <div class="contenido-texto-card">
                        <h4>SANITAS</h4>
                        <p>EPS Sanitas es la empresa promotora de salud creada en 1994 como respuesta a la reforma de la Seguridad Social en Colombia. Ofrecemos los servicios de atención en salud y prestaciones económicas a las cuales tiene derecho.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="clientes contenedor">
            <h2 class="titulo">servicios privados </h2>
            <div class="cards">
                <div class="card">
                    <img src="{% static 'imgentidades/doctor.jpg' %}" alt="">
                    <div class="contenido-texto-card">
                        <h4>
                            Dr.Leonardo Alberto Torres Cabrera</h4>
                        <p>Soy un profesional apasionado por lo que hago, dedico mucho de mi tiempo a mi formación académica y a la constante actualización de mis conocimientos.Manejo enfoque cognitivo-conductual, formulación CASIC y transdiagnóstica.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'imgentidades/doctora.jpeg' %}" alt="">
                    <div class="contenido-texto-card">
                        <h4>
                            Prof. Adriana Carolina Parra Pineda</h4>
                        <p>Con cada historia de vida, entiendo que todo aquello que nos ocurre y nos afecta física y emocionalmente, tiene salida. Es muy gratificante ver como ESO que no nos permitía avanzar.</p>
                    </div>
                </div>
            </div>
        </section>
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Phone</h4>
                <p>8296312</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>8296312</p>
            </div>
            <div class="content-foo">
                <h4>Location</h4>
                <p>8296312</p>
            </div>
        </div>
</body>

</html>