{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Calendario Menstrual</title>
    <link rel="stylesheet" href="{% static 'menstrual.css'%}">

</head>
<body>
    <header>
        <div class="container">
            <p class="logo">PEJIP</p>
            <nav>
                <a href="#que-es">Informate</a>
                <a href="#como-funciona">Conoce mas</a>
                <a href="#beneficios">Beneficios</a>
            </nav>
        </div>
    </header>
    <section id="hero">
        <h1>Calendario Menstrual</h1>
    </section>


    <section id="que-es">
        <div class="container">

            <div class="img-container"></div>

            <div class="texto">

            <h2>¿Que <span
                class="color-acento">es?</span></h2>

            <p>El calendario menstrual
            hace referencia al método de 
            contar los días del ciclo menstrual 
            de la mujer, comprobar los días que
            son más fértiles y así saber cuales 
            son los más probables para quedar 
            embarazada.Con esta información la 
            mujer puede organizar su agenda, sus 
            desplazamientos o eventos sin tener 
            el periodo.</p>
        </div>
    </div>
    </section>


    <section id="como-funciona">
        <div class="container">
            <h2>¿Como Funciona?</h2>
            <div class="funciones">
            

                <div class="carta">
                 <h3>Fase Folicular</h3>
                 <p class="texto-justificado">Esta es la primera fase del ciclo,
                 que se inicia en el primer día de la 
                 menstruación y que dura entre 5 a 12 
                 días. En esta fase el cerebro aumenta 
                 la producción de hormonas folículo 
                 estimulantes (FSH), que hace que los 
                 ovarios maduren sus óvulos.</p>
             </div>

        <div class="carta">

                 <h3>Fase Ovulatoria</h3>

                 <p class="texto-justificado">
            En esta fase, los niveles de 
            estrógeno continúan aumentando y hacen
            que el organismo produzca la hormona 
            luteinizante (LH), que es responsable 
            de seleccionar el óvulo más maduro y 
            liberarlo del ovario, ocurriendo así 
            la ovulación, generalmente el día 14 
            del ciclo.</p>
        </div>

        <div class="carta">

            <h3>Fase lútea</h3>

            <p class="texto-justificado">Esta fase ocurre en los últimos 12 
            días del ciclo, durante estos días el 
            folículo dejado por el óvulo dentro del 
            ovario, comienza a producir progesterona.
            Asi mismo, también existe un aumento en 
            la producción de estrógeno lo cual generará 
            para algunas cambios de humor.</p>
        </div>
        </div>
    </div>
    </section>
    <section id="beneficios">

        <div class="container">
        <ul>
            <li>✔️ Forma segura de ayudarte a registrar tu fertilidad.</li>
            <li>✔️ Te sirve como metodo anticonceptivo.</li>
            <li>✔️ Te ayuda con el seguimiento de la duracion de tus ciclos menstruales.</li>
            <img src="imgMenstrual/FaseLutea.jpg" alt="stylesheet">
        </ul>
        </div>
    </section>

    <section id="tu-calendario">
        <h2>¡Tu Calendario!</h2>
        <a href="file:///C:/Users/USUARIO/Desktop/CalendarioMenstrual/TuCalendarioMenstrual/tucalendario.html">Ir</a>
    </section>


    <footer>
        <div class="container">
            <p>&copy;PEJIP</p>
        </div>
    </footer>
</body>
</html>