{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Calendario Menstrual</title>
    <link rel="stylesheet" href="{% static 'menstrual2.css'%}">

</head>
<body>
    <header>
        <div class="container">
            <p class="logo">PEJIP</p>
            <nav>
                <a href="file:///C:/Users/USUARIO/Desktop/CalendarioMenstrual/MenstrualPrincipal/menstrual.html">Volver</a>
            </nav>

        </div>
    </header>
    <section id="hero">
        <h1>Tu Calendario</h1>
    </section>
    <section id="tu-calendariom">
        <div class="container">
        </div>
    </div>
    </section>


    <section id="tucalendariom">
        <div class="img-container"></div>
    </section>





    <section id="formulario">
        <div class="container">
            <div class="funciones">

         <div class="formu-carta">
        
         <form action="" method="">
            <h1>Fecha inicial</h1>
         <input type="date" name="Dia"/>
           </form>
          </div>

    
     <div class="formu-carta">

        <form action="" method="">
            <h1>Fecha Final</h1>
            <input type="date" name="Dia"/>
        </form>
     </div>
    
     <div class="formu-carta"></div>
        <form action="" method="">
            <h1>Cuenta tus 28 dias</h1>
            <p>Dia 28 tu posible fecha para que llegue tu menstruacion.</p>
            <input type="date" name="Dia"/>
     
        </form>
     </div>
    </div>
     </div>
     </section>

     <footer>
        <div class="container">
            <p>&copy;PEJIP</p>
        </div>
    </footer>
    
</body>
</html>
