{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>PSICOLOGIA</title>
    <link rel="stylesheet" href="{% static 'psicologia.css'%}">
</head>
<body>
    <header>
        <div class="container">
            <p class="logo">PEJIP</p>
            <nav>
                <a href="#somos-proya">Que es la guia PSICOLOGIA</a>
                <a href="#nuestros-programas">Servicios</a>
                <a href="#caracteristicas">Importancia de la salud sexual</a>
            </nav>
        </div>
    </header>

    <section id="hero">
        <h1>GUIA <br>PSICOLOGICA</h1>
        
    </section>

    <section id="somos-proya">
        <div class="container">
            <div class="img-container"></div>
            <div class="texto">

                <h2>¿Que es la<span class="color-acento"> guia psicologica?</span></h2>
                <p>esta guia te ayudara a separar tu cita pscicologica en algunas de nuesras entidades de salud , estaran diponibles entidades publicas como privida.
                    ¡registrate para que puedas aprovechar de este servicio!
                </p>
            </div>
        </div>
    </section>

    <section id="nuestros-programas">
        <div class="container">
            <h2>servicios</h2>
            <div class="programas">
                <div class="carta">
                    <h3>Entidades de salud aliadas</h3>
                    <p>Aqui podras encontrar mas informcacion sobre las entidades de salud disponibles.</p>
                    <form action="file:///C:/Users/USUARIO/Downloads/ENTIDADESdeSALUD/index.html">
        
                        <button>CONTINUAR</button>
                    </form>
    
                </div>  
                <div class="carta">
                    <h3>Separa tu cita</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt vero corporis incidunt saepe qui commodi quasi neque veniam quam, aspernatur est beatae maxime animi sed reiciendis mollitia ducimus veritatis repellendus?</p>
                    <form action="file:///C:/Users/USUARIO/Downloads/InicioSesion/login.html">
        
                        <button>iniciar sesión</button>
                    </form>
                    <form action="file:///C:/Users/USUARIO/Downloads/InicioSesion/login.html">
        
                        <button>REGISTRARTE</button>
                    </form>
                    <form action="file:///C:/Users/USUARIO/Downloads/SEPARATUCITA/index.html">
        
                        <button>CONTINUAR</button>
                    </form>
                </div>
            </div>
    </section>

    <section id="caracteristicas">
        <div class="container">
            <ul>
                <h1>Importancia de <br>la salud sexual</h1>
                    <p>La sexualidad forma parte de la salud integral y de la personalidad de todo ser humano. Para nuestro pleno desarrollo físico y emocional, todos necesitamos la satisfacción de necesidades básicas como el deseo de contacto, de intimidad, de expresión emocional, de placer y de amor.

                        Sin embargo, nuestra sociedad actual ha padecido y sigue padeciendo una cierta sexofobia, más o menos solapada según las épocas, por lo que el individuo no es del todo libre para vivir su sexualidad de una manera plena y sin prejuicios, y ya desde el nacimiento , la educación que recibe esa persona está llena de mensajes negativos que limitarán en un futuro su capacidad comunicativa, tanto emocional como sexual.</p>
            </ul>
        </div>
    </section>
    <footer>
        <div class="container">
            <p>&copy; PEJIP
        </div>
    </footer>
</body>
</html>